.login-container {
   background-size: cover;
  background-position: center;
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.login-box {
  padding: 20px 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  font-family: Raleway;
  margin-right: 570px;
  margin-bottom: 210px;
}

// .form-inputs {
//   border-radius: 5px;
//   font-family: Raleway;
//   font-size: 14px;
// }

.form-actions {
  border: solid 1px grey;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
  background-color: green;
  border: solid 0.1px green;
}

