.login-container {
  background-size: cover;
  background-position: center;
  padding: 157px;
}

h1 {
  text-align: center;
}

.login-box {
  padding: 20px 20px;
  width: 500px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  font-family: Raleway;
}

// .form-inputs {
//   border-radius: 5px;
//   font-family: Raleway;
//   font-size: 14px;
// }

.form-actions {
  border: solid 1px grey;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
  background-color: green;
  border: solid 0.1px green;
}

