.show-container {
  margin: 10px 10px;
}

.card-category {
  height: 300px;
}

.join-button {
  text-align: center;
}

.host-details {
  padding: 20px 10px;
  background-color: white;
  text-align: center;
}

.card-product {
  padding: 5px 5px;
}
