.show-container {
  margin: 40px 30px;
  display: flex;
  justify-content: space-between;
  height: 550px;
}

.join-button {
  text-align: center;

}

.host-details {
  padding: 20px 10px;
  background-color: white;
  text-align: center;
}

.card-product {
  padding: 5px 5px;
}

.show-image {
  display: flex;
  width: 85%;
  background-size: cover;
  background-position: end;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
}

.background-show-square {
  background: #F2F2F2;
  width: 50%;
  margin-right: 20px;
  padding: 30px;

}

body {
  background: #FFFFFF;
}
