<div class='content'>
  <div class='banner' style='background-image: url(https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);'>
    <div class='container'>
      <h1></h1>
    <!--   <p>Have a great dining experience and meet new people at the same time by enjoying food together</p> -->
    <div class='search-container'>
      <div class='search-form'>
        <form action="<%= dinners_path %>">
          <h3>Connecting people through food with <em class='logo-written'>FoodforThought</em></h3>
            <div class='search-input'>
              <h5>WHERE</h5>
                <div class='input-group mb-3'>
                  <input type='text' class='form-control' aria-label='Default' aria-describedby='inputGroup-sizing-default' placeholder='City' name="city">
                </div>
              <h5>WHEN</h5>
                <div class='md-form'>
                  <input type='date' id='date-picker-example' class='form-control datepicker' name="date" placeholder="dd/mm/yyyy">
                  <label for='date-picker-example'></label>
                </div>
              <h5>GUESTS</h5>
                <div class='input-group mb-3'>
                  <select class='custom-select' id='inputGroupSelect01' name="Select number of guests">
                      <option selected id="guest-selection">Select number of guests</option>
                      <option value='1'>1</option>
                      <option value='2'>2</option>
                      <option value='3'>3</option>
                      <option value='4'>4</option>
                      <option value='5'>5</option>
                      <option value='6'>6</option>
                  </select>
                </div>
                <div class='button-box'>
                  <button class='btn btn-flat' type="submit" id='button'>Book a dinner now</button>
                </div>
            </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
<!--   <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->
