<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1>FoodForThought: Connect with <strong>people</strong> over <strong>food</strong>!</h1>
    <p>Have great food and meet new people at the same time by dining together</p>
    <a class="btn btn-flat" href="#">Book a dinner now</a>
  </div>
</div>

</body>
</html>
